/* banner block */
.banner, .content h3, .content p{
    text-align: center;
    max-width: 840px;
    margin: 0 auto 92px;
}
h1{
    font-size: 62px;
    text-align: center;
    margin-top: 112px;
    line-height: 1.2;
    font-weight: 400;
}
h2{
    font-size: 20px;
    color: #8C8C8C;
    margin: 20px auto 52px;
}
.btn{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 44px;
    border-radius: 80px;
    transition: transform 0.1s ease, background-color 0.2s ease;
    margin-right: 20px;
}
.btn-default{
    background-color: #FFFFFF;
    color: #1C1C1C;
}
.btn-default:hover{
    background-color: #F0FF92;
    color: #1C1C1C;
    font-weight: 500;
}
.btn-undefault{
    border: #FFFFFF 3px solid;
    color: #FFFFFF;
}
.btn-undefault:hover{
    background-color: hsl(0, 0%, 100%, 0.2); ;
    color: #FFFFFF;
    font-weight: 500;
}
/* content */
.content h3{
    font-size: 48px;
    margin-bottom: 18px;
}
.content p{
    color: #8C8C8C;
    font-size: 18px;
}

/* card */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px; 
    margin: 0 auto 128px; 
}
.card-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    }
.card-item {
    padding: 40px;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #0F0F0F;
    max-width: 780px;
    margin: 36px auto;
    width: 100%;
} 
.card-item h4{
    font-size: 20px;
    color: #FFFFFF;
    /* margin-top: 20px; */
}
.card-item p{
    color: #8C8C8C;
    font-size: 16px;
    margin: 12px 0 24px;
    text-align: left;
}
.card-item a{
    text-decoration: none;
    color: #9B9B9B;
    font-size: 16px;
    border: 1px solid #1F1F1F;
    border-radius: 80px;
    padding: 12px 40px;
    margin-bottom: 100px;
}
.card-item i{
    padding-right: 4px;
}

/* 背景漸層 */
.gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(0, 0%, 68%), hsla(60, 60%, 61%, 0.174));
    animation: rotate var(--speed) var(--easing) infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
     @media (min-width: 720px) {
    .gradient {
    --size: 500px;
    }
}
/* 星星 */
 .star {
  animation: spin 16s linear infinite;
  width: 48px;
  margin: 300px auto 0;
}
.star img {
    display: block;
    max-width: 100%;
    max-height: 100%; /* 防止超出 */
    object-fit: contain;
}
    @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
    @keyframes spin {
    from {
    transform: rotate(0deg);
  }
    to {
    transform: rotate(360deg);
  }
}