/* banner block */
h1{
    font-size: 48px;
    text-align: center;
    /* margin-top: 112px; */
    line-height: 1.2;
    font-weight: 400;
}
h2{
    font-size: 16px;
    color: #8C8C8C;
    margin: 20px auto 52px;
}
.btn{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 44px;
    border-radius: 80px;
    transition: transform 0.1s ease, background-color 0.2s ease;
    margin-right: 20px;
}
.btn-default{
    background-color: #FFFFFF;
    color: #1C1C1C;
}
.btn-default:hover{
    background-color: #F0FF92;
    color: #1C1C1C;
    font-weight: 500;
}
.btn-undefault{
    border: #FFFFFF 3px solid;
    color: #FFFFFF;
}
.btn-undefault:hover{
    background-color: hsl(0, 0%, 100%, 0.2); ;
    color: #FFFFFF;
    font-weight: 500;
}
/* content */
.content h3{
    font-size: 48px;
    margin-bottom: 18px;
}
.content p{
    color: #8C8C8C;
    font-size: 18px;
}


/* 背景漸層 */
.gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(0, 0%, 68%), hsla(60, 60%, 61%, 0.174));
    animation: rotate var(--speed) var(--easing) infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
     @media (min-width: 720px) {
    .gradient {
    --size: 500px;
    }
}
/* 星星 */
 .star {
  animation: spin 16s linear infinite;
  width: 48px;
  margin: 0  auto ;
}
.star img {
    display: block;
    max-width: 100%;
    max-height: 100%; /* 防止超出 */
    object-fit: contain;
}
    @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
    @keyframes spin {
    from {
    transform: rotate(0deg);
  }
    to {
    transform: rotate(360deg);
  }
}
/* -----------步驟球球---------------- */
.circle {
    background-color: #0C0C0C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #8C8C8C 1px solid;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    margin-right: 24px;;
}
/* Hover 效果 */
.steps-left:hover .circle {
    background: #cbd492;
    color: #000000;
    border: none;
    box-shadow: 0 0 10px rgba(240, 255, 146, 0.8);
}
/* banner block */
.banner, .content h3, .content p{
    text-align: center;
    max-width: 840px;
    margin: 0 auto 92px;
}
h1{
    font-size: 62px;
    text-align: center;
    margin-top: 112px;
    line-height: 1.2;
    font-weight: 400;
}
h2{
    font-size: 20px;
    color: #8C8C8C;
    margin: 20px auto 52px;
}
.btn{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 44px;
    border-radius: 80px;
    transition: transform 0.1s ease, background-color 0.2s ease;
    margin-right: 20px;
}
.btn-default{
    background-color: #FFFFFF;
    color: #1C1C1C;
}
.btn-default:hover{
    background-color: #F0FF92;
    color: #1C1C1C;
    font-weight: 500;
}
.btn-undefault{
    border: #FFFFFF 3px solid;
    color: #FFFFFF;
}
.btn-undefault:hover{
    background-color: hsl(0, 0%, 100%, 0.2); ;
    color: #FFFFFF;
    font-weight: 500;
}
/* content */
.content h3{
    font-size: 48px;
    margin-bottom: 18px;
}
.content p{
    color: #8C8C8C;
    font-size: 18px;
}

/* card */
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px; 
    margin: 0 auto 128px; 
    
}
.card-wrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    }
.card-item {
    padding: 30px 40px;
    border: 1px solid #1F1F1F;
    border-radius: 8px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #0F0F0F;
    max-width: 780px;
    width: 100%;
    box-sizing: border-box;
    margin: 12px 20px;
} 
.card-item h4{
    font-size: 20px;
    color: #FFFFFF;
}
.card-item p{
    color: #8C8C8C;
    font-size: 16px;
    margin: 12px 0 24px;
    text-align: left;
}
.card-item a{
    text-decoration: none;
    color: #9B9B9B;
    font-size: 16px;
    border: 1px solid #1F1F1F;
    border-radius: 80px;
    padding: 12px 40px;
    margin-bottom: 100px;
}

.card-item:hover{
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(29, 29, 29, 0.5),
        rgba(16, 16, 16, 0.5)
     ); 
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease, background 0.3s ease;
}
.card-item a:hover{
    box-shadow: #F0FF92;
    background-color: #e9e9e907;
    color: white;
    scale: 1.1;}



/* 背景漸層 */
.gradient {
    --size: 750px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(0, 0%, 68%), hsla(60, 60%, 61%, 0.174));
    animation: rotate var(--speed) var(--easing) infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
     @media (min-width: 720px) {
    .gradient {
    --size: 500px;
    }
}
/* 星星 */
 .star {
  animation: spin 16s linear infinite;
  width: 48px;
  margin: 300px auto 0;
}
.star img {
    display: block;
    max-width: 100%;
    max-height: 100%; /* 防止超出 */
    object-fit: contain;
}
    @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
    @keyframes spin {
    from {
    transform: rotate(0deg);
  }
    to {
    transform: rotate(360deg);
  }
}
/* -----------步驟球球---------------- */
.circle {
    background-color: #0C0C0C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #8C8C8C 1px solid;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
    margin-right: 24px;;
}
/* 左侧部分 */
.steps-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* 为线条和圆圈提供定位参考 */
    width: 50px; /* 与圆圈对齐 */
    height: 150px; /* 每个步骤的总高度 */
}

/* 圆圈样式 */
.circle {
    display: flex;
    background-color: #0C0C0C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #8C8C8C 1px solid;
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
    margin: 40px auto 0;
}

/* 线条样式 */
.line {
    position: absolute;
    width: 1px;
    background: #8C8C8C;
    z-index: 0;
}

/* 上线条 */
.line.up {
    top: -30%;
    height: 100%; /* 从顶部到圆圈的距离 */
}

/* 下线条 */
.line.down {
    bottom: -30%;
    height: 100%; /* 从圆圈到底部的距离 */
}

/* 悬停效果 */
.steps-left:hover .circle {
    background: #cbd492;
    color: #000000;
    border: none;
    box-shadow: 0 0 10px rgba(240, 255, 146, 0.8);
    z-index: 2;
}

.steps-left:hover .line {
    /* background: linear-gradient(to top, #cbd492, #8C8C8C); */
    /* background: linear-gradient(to bottom, #8C8C8C, #cbd492);
     */
    /* background-color: rgba(240, 255, 146, 0.8); */
    background: linear-gradient(#8C8C8C 0%, #F0FF92  50%, #8C8C8C 100%);
}

/* 父容器悬停时触发效果 */
.card-wrapper:hover .circle {
    background: #cbd492;
    color: #000000;
    border: none;
    box-shadow: 0 0 10px rgba(240, 255, 146, 0.8);
    z-index: 2;
}

.card-wrapper:hover .card-item {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(29, 29, 29, 0.5),
        rgba(16, 16, 16, 0.5)
    );
    backdrop-filter: blur(12px);
    /* box-shadow: 0 8px 16px rgba(240, 255, 146, 0.3); */
    transform: translateY(-3px);
    transition: all 0.3s ease;
}
