/* banner block */
.banner, .content>h3, .content>p{
    text-align: center;
    max-width: 840px;
    margin: 0 auto 40px;
}
h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 500;
    margin: 124px auto 20px;
}
h2{
    font-size: 20px;
    color: #8C8C8C;
    margin: 0 auto 52px;
}
.btn{
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 18px 44px;
    border-radius: 80px;
    transition: transform 0.1s ease, background-color 0.2s ease;
    margin-right: 20px;
}
.btn-default{
    background-color: #FFFFFF;
    color: #1C1C1C;
}
.btn-default:hover{
    background-color: #F0FF92;
    color: #1C1C1C;
    font-weight: 500;
}
.btn-undefault{
    border: #FFFFFF 3px solid;
    color: #FFFFFF;
}
.btn-undefault:hover{
    background-color: hsl(0, 0%, 100%, 0.2); ;
    color: #FFFFFF;
    font-weight: 500;
}
/* content */
.content h3{
    font-size: 48px;
    margin-top: 214px;
}
.content p{
    color: #8C8C8C;
    font-size: 18px;
    margin-top: 20px 0 128px;
}



/*-------------------------- quote card ---------------------------*/
.outer-container{
    background-color: #0C0C0C;
    padding: 100px;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100vw;
    margin: 0 auto;
    align-items: start;
}


.card{
    background: rgb(28, 28, 28);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    background: linear-gradient(to bottom, rgb(28, 28, 28, 0.5), rgb(28, 28, 28, 0.4));
    transform: translateY(-5px);
}
.card:nth-child(3n+2) {
    transform: translateY(-100px); 
    box-shadow: 0 0 0 1px #313131;
    gap: 20px;
}
.card:nth-child(3n+1) {
    transform: translateY(0px); 
    box-shadow: 0 0 0 1px #313131;
}
/* .card:nth-child(3n+3) {
    transform: translateY(s0px); 
    box-shadow: 0 0 0 1px #313131;
} */

/* 評價內容文字 */
.quote {
    padding: 44px;
    position: relative;
}
.quote h4 > span{
    font-size: 16px;
    position: relative;
    left: -20px;
    color: #F0FF92;
}
.quote h4{
    font-size: 20px;
    color: #edeaea;
    padding-bottom: 10px;
}
.quote p {
    text-align: left;
    font-size: 18px;
    color: #9B9B9B;
}
.quote >span:last-child{
    font-size: 18px;
    color: #9B9B9B;
}
.divider{
    height: 1px;
    background-color: #272727;
    margin: 20px 0;
}
/*-------------------------- solution card ---------------------------*/
/*-------------------------- solution card ---------------------------*/
.solution{
    background-color: #0C0C0C;
}
.solution-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 160px auto;
    gap: 50px;
    max-width: 1920px;
    padding: 40px 20px;
}
.solution-card{
    border:#0C0C0C 1px solid;
    border-radius: 16px;
}
.solution-card h4{
    font-size: 20px;
    padding: 20px 0;
}   
.solution-card p{
    font-size: 20px;
}
.image-container{
    position: relative;
    overflow: hidden;
}
.image-container img{
    height: 550px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.image-container:hover img {
    transform: scale(1.2); /* 放大圖片 */
    transition: transform 0.5s ease;
}
.solution-card:nth-child(odd){
    transform: translateY(-100px);
}
.solution-card:nth-child(even){
    transform: translateY(50px);
}