/* TODO 要改下拉式樣式 */

header{
    /* background-image: url(../images/gradient_bg.png); */
}
main{}
h1{
    font-size: 62px;
    /* font-weight: 300; */
    text-align: center;
    margin-top: 112px;
    line-height: 1.2;
    font-weight: 400;
}
h2{
    font-size: 20px;
    text-align: center;
    color: #8C8C8C;
    max-width: 840px;
    margin: 20px auto 84px;
}
/* form */
/* 整體表單樣式 */
.form-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:48px;
    max-width: 1047px;
    max-height: 626px;
    border: #1F1F1F 1px solid;
    padding: 58px;
    box-sizing: border-box;
    margin: 0 auto 164px;
    position: relative;
}
/* 單欄位樣式 */
.form-group{
    display: flex;
    flex-direction: column;
}

/* 多欄位樣式 */
.form-group.full-width{
    grid-column: span 2;
}
.button-text{
    grid-column: span 2;
}

/* input標籤樣式 */
.form-group label{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 14px;
}

/* input輸入匡和選單樣式 */
.form-group input,
.form-group select,
.form-group textarea{
    border: #262626 1px solid;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    color: #8C8C8C;
    background-color: black;
}

/* 按鈕樣式 */
.form-group button{
    background-color: #F0FF92;
    color: #1F1F1F;
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}


/* 單獨修改樣式 */
textarea {
    height: auto;
    min-height: 144px;
}

button{
    width: 128px;
    height: 76px;
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 5px;
    border:#F0FF92
    
}
button:hover{
    background-color: #F0FF92;
}



/* button */
/* 重置按鈕樣式 */
/* 按鈕樣式 */
button {
  all: unset; /* 移除原生樣式 */
  position: relative;
  display: inline-flex;
  align-items: center; /* 垂直置中 */
  justify-content: center; /* 水平置中 */
  width: 192px; /* 按鈕寬度 */
  height: 76px; /* 按鈕高度 */
  border-radius: 50px; /* 長橢圓形 */
  cursor: pointer; /* 鼠標樣式 */
  overflow: hidden; /* 隱藏背景層的溢出內容 */
  transition: all 0.3s ease; /* 平滑過渡 */
  margin: 0 auto;
}


/* 背景層 */
.button-background {
    position: absolute;
    inset: 0; /* 填滿整個按鈕 */
    border: 2px solid rgba(255, 255, 255, 0.15); /* 白色半透明邊框 */
    border-radius: inherit; /* 與按鈕圓角一致 */
    backdrop-filter: blur(20px); /* 背景模糊效果 */
    z-index: 1; /* 確保在文字層下方 */
    transition: all 0.3s ease;
    background: radial-gradient(
        circle,
        rgba(240, 255, 146, 0.9),
        rgba(240, 255, 146, 0.6)
    );
    box-shadow: 0 0 20px rgba(240, 255, 146, 0.5),
                0 0 50px rgba(240, 255, 146, 0.2);
    transform: scale(1.1);
}

/* 按鈕文字 */
.button-text {
  position: relative; /* 確保文字與背景分層 */
  color: #333; /* 文字顏色 */
  z-index: 2; /* 確保文字在最上層 */
  display: inline-flex;
  font-weight: 500;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.3s ease;
}
.button{
    grid-column: span 2; 
    display:flex;
}


/* hover 效果 */
button:hover .button-background {
  background: #F0FF92; /* 背景變亮黃色 */
  border-color: rgba(255, 255, 0, 0.5); /* 邊框變成亮黃色 */
  box-shadow: 0 4px 15px rgba(255, 255, 0, 0.5); /* 添加亮黃色陰影 */
  transform: scale(1.1);
}

/* ---------------------漸層背景---------------------- */
:root {
  --color-bg1: rgb(33, 33, 33);
  --color-bg2: rgba(0, 0, 0, 0.96);
  --color1: 5, 5, 5;
  --color2: 33, 33, 33;
  --color3: 20, 20, 20;
  --color4: 33, 33, 33;
  --color5: 20, 20, 20;
  --color-interactive: rgb(0, 0, 0);
  --circle-size: 200%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}


.gradient-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
    width: 100vw;
    height: 100vh;
    background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));

    svg {
        display: none;
  }


  .gradients-container {
    filter: url(#goo) blur(40px) ;
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color1), 0.8) 0, rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color2), 0.8) 0, rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color3), 0.8) 0, rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color4), 0.8) 0, rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color5), 0.8) 0, rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(circle at center, rgba(var(--color-interactive), 0.8) 0, rgba(var(--color-interactive), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}

.star {
    margin: 120px auto 0px;
}