@import url('./reset.css');
body{
    background-color: #0C0C0C;
    color: #FFFFFF;
    font-family: Urbanist, PingFang TC, inter, sans-serif;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: .05rem;
    box-sizing: border-box;
}

/* ------------- nav ------------- */
header{
    padding-top: 42px;
}
nav{
    /* border: orange 2px solid; */
    max-width: 1200px;
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    box-sizing: border-box;
    background-color: #1C1C1C;
    border-radius: 80px;
    padding: 40px 10px;
    margin: 0 auto;
}
.logo{}
.logo a{
    /* border: red 2px solid; */
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 80px;
    padding: 20px;
}
.logo a img{
    /* border: orange 2px solid; */
    width: 30px;
    height: 30px;
}
.logo-circle{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease;
    overflow: hidden;
    margin-left: -11px;
    padding: 3px;
}
.logo-circle:hover{
    background-color: rgb(255, 255, 255, 0.7);
    
}
.logo-circle:hover img{
    content: url('../images/haicon_yellow.png');
}
h1{
    font-size: 62px;
    text-align: center;
    margin-top: 112px;
    line-height: 1.2;
    font-weight: 400;
}
h2{
    font-size: 20px;
    text-align: center;
    color: #8C8C8C;
    max-width: 840px;
    margin: 20px auto 84px;
}
/* 主選單 */
ul{
    display: flex;
    align-items: center;
    font-size: 0;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 84px;
}
ul li{
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 80px;
    padding: 0 10px;
    font-weight: 450;

}
ul li a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 20px 20px; 
    line-height: 1;
    border-radius: 80px;
    transition:  background-color 0.8s ease;
}

ul li:nth-child(5) a{
    border-radius: 80px;
    margin-left: 10px;
    color: #1C1C1C;
    background-color: #FFFFFF;
    transition: background-color 0.8s ease;

}
/* 動效 */
ul li a:hover{
    background-color: #f0ff925b;
    border-radius: 80px;
    padding: 20px 20px;
    
}
ul li:nth-child(5) a:hover {
    border-radius: 80px;
    margin-left: 10px;
    background-color: #f0ff92bf;
    color: #000000;
    transform: scale(1.02);
}

main {
    flex: 1;
    width: 100%;
}
/* ------------- footer ------------- */
.footer-black{
    background-color: #1C1C1C;
    display: inline-flex;
    height: 84px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 56px;
    font-weight: 450;
    position: static;
    bottom: 0;
    left: 0;
    
}
.footer-black a:hover{
    background-color: #f1f1f1bc;
    transition: background-color 0.8s ease;
}
.social-buttons-black{
    /* border: #F0FF92 2px solid; */
}
.social-buttons-black a{
    /* border: red 2px solid; */
    background-color: #1C1C1C;
    border-radius: 50%;
    text-decoration: none;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
}
.footer-white{
    background-color: #ffffff;
    color: #0C0C0C;
    display: inline-flex;
    height: 84px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 56px;
    font-weight: 450;
    position: static;
    bottom: 0;
    left: 0;
    
}
.footer-white a:hover{
    background-color: #a0a0a0bc;
    transition: background-color 0.8s ease;
}
.social-buttons-white{
    /* border: #F0FF92 2px solid; */
}
.social-buttons-white a{
    /* border: red 2px solid; */
    background-color: #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    color: #0C0C0C;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
}
/* ------------- cursor ------------- */
/* cursor */
.custom-cursor{
    width: 10px;
    height: 10px;
    background-color: #F0FF92;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: all 0.15s ease-out;
}
/* ------------- other ------------- */
.spe-yellow{
    color: #F0FF92;
}
.spe-gray{
    color: #9B9B9B;
}

/* ---------------------hanberger menu --------------- */
/* 基本設定 */
.navTrigger i {
    background-color: #ffffff;    
    display: block;
    width: 90%;
    height: 2px;
    margin: 4px 2px;
    transition: all 0.3s ease;

}
.navTrigger {
    display: none;
    cursor: pointer;
    width: 28px;
    height: 15px;
    position: absolute;
    right: 22px;
    top: 70px;
    z-index: 1000; 

}
/* 點擊動畫 */
.navTrigger.active {
    display: block;
    cursor: pointer;
}
.navTrigger.active i:nth-child(1) {
    transform: translateY(3px) rotate(45deg); /* 顯示 X 的部分 */
}
.navTrigger.active i:nth-child(2) {
    opacity: 0;
}
.navTrigger.active i:nth-child(3) {
    transform: translateY(-8.5px) rotate(-45deg); /* 顯示 X 的另一部分 */

}
.menu {
    display: flex;
    flex-direction: row; /* 預設水平排列 */
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #1C1C1C;
    z-index: 3;
    border-radius: 80%;
    /* background-color: red; */
}

/* RWD */
@media screen and (max-width: 820px) {
    .menu {
    display: none; /* 默認隱藏 */
    border-radius: 0%;

    }
    .menu.show {
        display: flex; /* 顯示漢堡菜單 */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #1c1c1c;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: 999; /* 確保在最上層 */
        display: block;
    }

    .navTrigger {
        display: block;
    }
    .logo {
        display: flex; /* 確保 logo 在縮小時正常顯示 */
        align-items: center;
    }
    .logo-circle {
        margin: 0; /* 調整 logo 的外邊距 */
    }
    nav {
        justify-content: space-between; /* 讓 logo 與漢堡選單對齊 */
        padding: 0 20px; /* 縮小邊距，適應小螢幕 */
        background: none;
    }
    .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top: 380px;
    }
    .menu ul li {
        margin: 0.5rem 0;
        font-size: 24px;
        text-align: center;
        /* background-color: green; */
    }
    .menu ul li a {
        display: block;
        padding: 10px;
    }
    ul li {
    background: none; 
}
    ul li a{
    color: #9B9B9B;
    background: none; 
}
    ul li:nth-child(5) a{
    color: #9B9B9B;
    background: none; 
}
/* 動效 */
    ul li a:hover{
    background: none;  
    color: #ffffff;
}
    ul li:nth-child(5) a:hover {
    background: none; 
    transform: scale(1);
    color: #ffffff;
}
    h1{
        font-size: 48px;
        margin: 0;
    }
    h2{
        font-size: 16px;
        margin: 12px 140px 20px;
    }
    html{
    max-width: 820px;
    width: 100%;
    }
    /* .custom-cursor{
    display: none;
    } */
}
@media screen and (max-width: 430px) {
    html{
    max-width: 430px;
    width: 100%;
    box-sizing: border-box;
    }
    .menu ul li {
        margin: 0.5rem 0;
        font-size: 24px;
        text-align: center;
        /* background-color: green; */
    }
    html, body {
        max-width: 430px;
        width: 100%;
        overflow-x: hidden;
    }

    .gradient{
        max-width: 430px;
        width: 100%;
        overflow-x: hidden;
    }
    .banner-focus {
        position: relative; /* 父級相對定位 */
        max-width: 430px;
        width: 100%;
        overflow: hidden; /* 超出部分隱藏 */
        margin: 0 auto; /* 居中 */
    }
    h1{
    font-size: 36px;
    margin: 12px 0 0;
    }
    h2{
    font-size: 13px;
    margin: 12px 32px 20px;
    }
    .custom-cursor{
    display: none;
    }
}


