@import url('./reset.css');
body{
    background-color: #0C0C0C;
    color: #FFFFFF;
    font-family: Urbanist, PingFang TC, inter, sans-serif;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: .05rem;
    
}
/* ------------- nav ------------- */
header{
    padding-top: 42px;
}
nav{
    /* border: orange 2px solid; */
    width: 1200px;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    box-sizing: border-box;
    background-color: #1C1C1C;
    border-radius: 80px;
    padding: 40px 10px;
    margin: 0 auto;
}
.logo{}
.logo a{
    /* border: red 2px solid; */
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    border-radius: 80px;
    padding: 20px;
}
.logo a img{
    /* border: orange 2px solid; */
    width: 30px;
    height: 30px;
}
.logo-circle{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease;
    overflow: hidden;
    margin-left: -11px;
    padding: 3px;
}
.logo-circle:hover{
    background-color: rgb(255, 255, 255, 0.7);
    
}
.logo-circle:hover img{
    content: url('../images/haicon_yellow.png');
}
/* 主選單 */
ul{
    display: flex;
    align-items: center;
    font-size: 0;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 84px;
}
ul li{
    font-size: 18px;
    box-sizing: border-box;
    border-radius: 80px;
    padding: 0 10px;
    font-weight: 450;

}
ul li a{
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 20px 20px; 
    line-height: 1;
    border-radius: 80px;
    transition:  background-color 0.8s ease;
}

ul li:nth-child(5) a{
    border-radius: 80px;
    margin-left: 10px;
    color: #1C1C1C;
    background-color: #FFFFFF;
    transition: background-color 0.8s ease;

}
/* 動效 */
ul li a:hover{
    background-color: #f0ff925b;
    border-radius: 80px;
    padding: 20px 20px;
    
}
ul li:nth-child(5) a:hover {
    border-radius: 80px;
    margin-left: 10px;
    background-color: #f0ff92bf;
    color: #000000;
    transform: scale(1.02);
}

main {
    flex: 1;
    width: 100%;
}
/* ------------- footer ------------- */
.footer-black{
    background-color: #1C1C1C;
    display: inline-flex;
    height: 84px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 56px;
    font-weight: 450;
    position: static;
    bottom: 0;
    left: 0;
    
}
.footer-black a:hover{
    background-color: #f1f1f1bc;
    transition: background-color 0.8s ease;
}
.social-buttons-black{
    /* border: #F0FF92 2px solid; */
}
.social-buttons-black a{
    /* border: red 2px solid; */
    background-color: #1C1C1C;
    border-radius: 50%;
    text-decoration: none;
    color: #FFFFFF;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
}
.footer-white{
    background-color: #ffffff;
    color: #0C0C0C;
    display: inline-flex;
    height: 84px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 56px;
    font-weight: 450;
    position: static;
    bottom: 0;
    left: 0;
    
}
.footer-white a:hover{
    background-color: #a0a0a0bc;
    transition: background-color 0.8s ease;
}
.social-buttons-white{
    /* border: #F0FF92 2px solid; */
}
.social-buttons-white a{
    /* border: red 2px solid; */
    background-color: #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    color: #0C0C0C;
    width: 36px;
    height: 36px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
}
/* ------------- cursor ------------- */
/* cursor */
.custom-cursor{
    width: 10px;
    height: 10px;
    background-color: #F0FF92;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}
/* ------------- other ------------- */
.spe-yellow{
    color: #F0FF92;
}
.spe-gray{
    color: #9B9B9B;
}
.star {
  animation: spin 16s linear infinite;
  width: 8vh;
  margin: 0 auto 300px;
}
.star img {
    max-width: 100%;
    max-height: 100%; /* 防止超出 */
    object-fit: contain;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
